#reflist, .container_12 > .grid_12 {
  display: none;
}

body {
  border-top: none;
}

.container_12 {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

#content_box {
  width:100%;
  display: inline;
}
